.container
{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    display: flex;
    padding-left: 10%;
}

.text
{
    font: Bold 20px monospace;
    padding-left: 15%;
    align-self: center; 
    font-size: 20px;
    order: 3;
}

.subtext
{
    color: #474747;
    font: 12px monospace;
    
}