.res {
    color: #FFF;
    text-align: center;
    font-family: Quando;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    background: #6E3CFD;
}

/* .bar-image {

} */